//- create by afterloe on 2017-2-14 14:58:37 - MIT

include header

- const _systemNotice = locals.systemNotice || {};
- const _systemAnnouncement = locals.systemAnnouncement || [];
- const _subscribe = locals.subscribe || [];
- const _discuss = locals.discuss || [];
- const _user = locals.user;
- const _systemAnnouncementNum = locals.systemAnnouncementNum || 0;
- const _discussCount = locals.discussCount || 0;

link(href= static + "css/portal/mask.css?time=" + __time rel="stylesheet")
link(href= static + "css/portal/home.css?time=" + __time rel="stylesheet")

if _systemNotice.content
  div(class="alert alert-danger" role="alert")
    strong=_systemNotice.content

div(class="popup")
  div(class="mask")
    div(class="box")
      header
        span(class="name") 建议反馈
        span(class="btn_close")
      form(action="" class="form")
        div(class="description")
          textarea(class="feedbackContent form-control" rows="3")
        div(class="last")
          span 联系方式:
          span
            input(type="text" placeholder="您的联系方式" value=_user ? _user.mail:null)
          span
            div(class="submit_re" style="cursor:pointer;") 提交

div(class="container content")
  div(class="container structure")
    span(class="portalWhete")

    - const _workflowNum = locals.chat.workflowNum || 0;
    - const _workflowInfo = locals.chat.workflowInfo || {} ;
    .mainBox
      .projectChat
        .chatHeader
          h4=`正在进行项目数量 ${_workflowNum}`
        .chatBody
          .chat
            span(class="pillar")
            - let __index = 0;
            each val,key in _workflowInfo
              div(data-key=key data-index=__index style=`height: ${val.length / _workflowNum * 100}%`)
                - __index++;
                span=val.length
        .chatFooter
          .legend
            each val, key in _workflowInfo
              div=key

      .projectList
        .catalogShadow
          .title
            span(class="recordPic")
            span(class="name") 项目列表 (正在进行的项目)
        ul(class="data project")

    .helpBox
      .announcement
        div(class="catalogShadow")
          .title
            span(class="dynamicPic")
            span(class="name") 公告
        ul(class="data dynamic")
          each announcement in _systemAnnouncement
            li
              div
                span(class="time")=new Date(announcement.createTimestamp).toLocaleString()
                span(class="content" data-href=announcement.href)=announcement.title
      .subscribe
        div(class="catalogShadow")
          span(class="badge number")=_discussCount
          div(class="title")
            span(class="name" onClick="javascript:openDiscuss();") 热点讨论
            span(class="downButton down")
        ul(class="data discuss")
          each discus in _discuss
            li
              div
                span(class="content" data-href=discus.href)=discus.title
                span(class="time")=new Date(discus.createTimestamp).toLocaleString()

    div(class="feedback")

include footer

script(src= static + "js/portal/rem.js?time=" + __time)
script(src= static + "js/portal/bin/home.js?time=" + __time)
