//- create by afterloe on 2017-2-14 16:03:26 - MIT

include header

- const __time = Date.now();

link(href= static + "css/portal/platform.css?time=" + __time rel="stylesheet")
link(href= static + "css/portal/mask.css" rel="stylesheet")

div(class="popup")
  div(class="mask")
    div(class="box")
      header
        span My Research V1.1 输出资料
        span(class="btn_close")
      form(action="" class="form")
        div(class="file")
          span 上传文件为定位、价值、关键特性、路标、原型等资料
          span
            input(type="file" placeholder="" id="source")
            input(type="button" value="上传文档" id="uploadFile")
        div(class="description")
          ul(class="dataFile")
        div(class="last")
          span 上传人：
          span
            input(type="text" placeholder="输入姓名")
          span
            button(class="submit_re") 开始上传

div(class="container platform_content")
  - const _products = locals.products || {};
  - const _product = locals.product || {};
  - const _product_id = _product._id? _product._id.toString(): "";
  - const _activeNode = _product.status;
  div(class="content_one")
    each _product,_productIndex in _products
      div(class="tru")
        div(class="truTitle " + _productIndex)=`TRU Mate ${_productIndex}`
        div(class="truContent")
          each _platform,_platformIndex in _product
            div(class="truBox")
              div= _platformIndex
              ul
                each _p in _platform
                  li(data-id=_p._id onClick="javascript:selectWorkflow(this);")
                    span(class="aLink" style=_product_id == _p._id? "color:#3d9bff":"")= _p.name

  div(class="proposal")

  div(class="wrapper")
    - const _process = _product.nodeList || [];
    if _activeNode
      div(class="tab_process")
        each _p,index in _process
          dl(class= _activeNode.index === _p.index? "processActive": "")
            dt(data-id=_p._id onClick="javascript:showFiles(this);")
              a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
              span=_p.name
            dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
            div(class="clear")
      div(class="tab_content")
        div(class="dataBox")
          div(class="header")=`${_activeNode.name}资料`
            span(class="upload")
          - const _files = _activeNode.produceList || [];
          ul(class="data")
            each _file in _files
              li
                div
                  i
                  span(class="name" data-id=_file._id onClick="javascript:downLoadFile(this);")
                    a(href="javascript:void(0);")=_file.name
                  span(class="time")=_file.uploadTime? new Date(_file.uploadTime).toLocaleString() : new Date().toLocaleString()
                  span=_file.downloadCount || 0
                  span=_file.author?_file.author.name : "admin"
                  span(data-id=_file._id class="download" onClick="javascript:downLoadFile(this);")

include footer

script(src= static + "js/portal/rem.js")
script(src= static + "js/portal/bin/platform.js?time=" + __time)
