//- create by afterloe on 2017-3-2 10:24:10 - MIT

include header

link(href= static + "css/portal/workflowInfo.css?time=" + __time rel="stylesheet")

style.

  .badge {color: #ffffff; background-color: #ddd; border-radius: 0.05rem;}
  .badge:first-child {margin-left: 0.1rem};

  @media (min-width:769px) {
    .files .topic {margin-left: 40%}
  }

  @media (max-width:768px) {
    .files .topic {margin-left: 30%}
    .data li div span { margin-top: -0.05rem; display: none; float: left; width: 1.85rem; text-align: center; height: 0.5rem;}
    .data li div span.name{ width:30%; margin-left:10px; display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
    .data li div span.local{ width:50%; margin-left:10px; display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
    .files li div span.name{ width:60%; margin-left:10px; display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
    .files li div span.author{ width:30%; margin-left:10px; display: inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
  }

- const _members = locals.members || [];
- const _process = locals.nodeList || [];
- const _activeNode = locals.status || {};
- const _files = _activeNode.produceList || [];
- const _iba = locals.addon || {};
- const _tags = locals.tags || [];

div(class="container platform_content")
  div(class="content_one")
    div(class="tru")
      div(class="truTitle pc")=`${locals.name} 详情`
      div(class="truContent")
        div(class="truBox")
          div 立项时间
          ul
            li
              span(class="aLink")= new Date(locals.createTimestamp).toLocaleString()
        .truBox
          div 标签
          ul
            each __tag in _tags
              li
                span(class="badge")=__tag
        div(class="truBox")
          - const __workflowOwner = locals.owner;
          div 项目负责人
          ul
            li(data-id="456")
              span(class="aLink")= __workflowOwner? `${__workflowOwner.name} (${__workflowOwner.mail})`:"未设置项目负责人"
        div(class="truBox")
          div 参与人员
          ul
            each __member in _members
              li(data-id=__member._id)
                span(class="aLink")=__member.name

  div(class="proposal")

  div(class="wrapper")
  if _activeNode
    div(class="tab_process")
      each _p,index in _process
        dl(class= _activeNode.index === _p.index? "processActive": "")
          dt(data-id=_p._id onClick="javascript:loadNodeInstance(this);")
            a(href="javascript:void(0);" class="tabIcon tabIcon_plan")
            span=_p.name
          dd &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
          div(class="clear")
    div(class="tab_content")
      div(class="dataBox")
        div(class="header")
          span(class="data_title") 节点信息
        ul(class="data")
          li
            div
              span(class="name") 节点名
              span(class="local" id="nodeName")=_activeNode.name
          - const _owner = _activeNode.owner || {};
          li
            div
              span(class="name") 该节点负责人
              span(class="local" id="nodeOwner")=_owner.name ? `${_owner.name} (${_owner.mail})`: `未设置负责人`
          li
            div
              span(class="name") 进入节点时间
              span(class="local" id="nodeBeginTime")=new Date(_activeNode.beginTimestamp).toLocaleString()
          li
            div
              span(class="name") 节点更新次数
              span(class="local" id="nodeUpdateCount")=_activeNode.uploadCount
          each value,key in _iba
            li
              div
                span(class="name")=key
                span(class="local")=value
        div(class="header")
          span(class="data_title") 数据仓库
          span(class="change svn")
        ul(class="data files")
          if _files.length === 0
            li
              div
                span(class="topic") 未上传文件至云服务器
          each _file in _files
            li
              div
                span(class="name" data-id=_file._id onClick="javascript:downLoadFile(this);")
                  a(href="javascript:void(0);")=_file.name
                span(class="time")=_file.uploadTime? new Date(_file.uploadTime).toLocaleString() : new Date().toLocaleString()
                span=_file.downloadCount || 0
                span(class="author")=_file.author?_file.author.name : "admin"
                span(data-id=_file._id class="download" onClick="javascript:downLoadFile(this);")
        ul(class="data path")
          li
            div
              span(class="name") svn地址
              span(class="local" id="nodeSvnInfo")
                a(href=_activeNode.svn)=_activeNode.svn

include footer

script(src= static + "js/portal/rem.js?time=" + __time)
//- script(src= static + "js/portal/bin/workflowInfo.js?time=" + __time)

script.
  /**
    * afterloe - cynomy_portal_server/staticFiles/js/portal/src/workflowInfo.js
    *
    * Copyright(c) afterloe.
    * MIT Licensed
    *
    * Authors:
    *   afterloe <lm6289511@gmail.com> (https://github.com/afterloe)
    * Date:
    *   2017-3-5 06:35:47
    */
  "use strict";

  ($ => {
    $(() => {
      //进入该页面，content_one从上往下运动
      const width = $(window).width();
      if (width > 768) {
          var contentOne = $(".content_one").height();
          var height = -contentOne;
          $(".content_one").css("margin-top", height);
          $(".content_one").animate({
              "margin-top": 0
          }, 1000, function() {
              $(".content_one").css("margin-top", 0);
          });
      } else {
          $(".content_one").css("margin-top", 0);
      }

      // 点击svn切换数据源
      $(".header").on("click", ".change", function() {
        const __self = $(this);

        if (__self.hasClass("svn")) {
          $(".data.files").show();
          $(".data.path").hide();
          __self.attr("class", "change cloud");
        } else {
          $(".data.files").hide();
          $(".data.path").show();
          __self.attr("class", "change svn");
        }
      });

      $(".data.files").hide(); // 初始时隐藏datas 列表

    });
  })(jQuery);

  const cleanSelectd = (nodeName) => {
    $("dl").attr("class", "");
  };

  const buildInstancePage = ({name, _id, beginTimestamp, produceList = [], owner, svn, uploadCount}) => {
    $("#nodeName").html(name);

    if (owner) {
      $("#nodeOwner").html(`${owner.name} (${owner.mail})`);
    } else {
      $("#nodeOwner").html("未设置负责人");
    }

    $("#nodeBeginTime").html(beginTimestamp || beginTimestamp === "" ? "未进入该节点": new Date(beginTimestamp).toLocaleString());
    $("#nodeUpdateCount").html(uploadCount);
    if (svn) {
      $("#nodeSvnInfo").html(`<a href="${svn}">${svn}</a>`);
    } else {
      $("#nodeSvnInfo").html(`<a href="javascript:void(0)">-</a>`);
    }
    $(".change").attr("data-id", _id);

    if (produceList.length === 0) {
      $(".data.files").html(`<li><div><span class="topic">未上传文件至云服务器</span></div></li>`);
    } else {
      $(".data.files").html(produceList.map(produce => `<li>
        <div>
          <span class="name" data-id=${produce._id} onClick="javascript:downLoadFile(this);">
            <a href="javascript:void(0)">${produce.name}</a>
          </span>
          <span class="time">${timeToDate(produce.uploadTime)}</span>
          <span>${produce.downloadCount || 0}</span>
          <span class="author">${produce.author ? produce.author.name : "admin"}</span>
          <span data-id=${produce._id} class="download" onClick="javascript:downLoadFile(this);"></span>
        </div>
      </li>`).join(""));
    }

    $(".data.files").hide();
    $(".data.path").show();
  };

  const timeToDate = time => {
    if (!time) {
      return new Date().toLocaleString();
    }
    const data = new Date(time);
    return data.toLocaleString();
  };

  const loadNodeInstance = btn => {
    const instanceId = $(btn).attr("data-id");
    $.ajax({
      type: "GET",
      url: `/workflow/nodeInstance/${instanceId}`,
      dataType: "json",
      beforeSend: xhr => xhr.setRequestHeader("accept","application/json"),
      success: result => {
        if (401.5 === result.code) {
          alert("登录许可已失效，请重新获取登录许可");
          location.href = "/portal/login";
          return ;
        }
        if (200 !== result.code) {
          alert("服务器繁忙");
        } else {
          cleanSelectd();
          $(".header > span:eq(2)").attr("class", "change svn");
          $(btn).parent().attr("class", "processActive");
          $(".data.files").hide();
          buildInstancePage(result.result);
        }
      }
    });
  };

  const downLoadFile = (btn) => {
    window.open("/fs/download/" + $(btn).attr("data-id"));
  };

  // 点击反馈跳转到bbs
  $(".proposal").bind("click", function() {
      window.open("http://bbs.jwis.cn/forum.php?mod=forumdisplay&fid=37");
  });
